* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
   }
   
   body {
     display: flex;
     justify-content: center;
     align-items: center;
     background: url("https://wallpapercave.com/wp/wp6664497.jpg") no-repeat center center fixed;
   background-size: cover;
     height: 110vh;
   }
   
   div.profile-card {
     background-color: hsla(290, 70%, 35%, 0.9);
     width: 480px;
     border-radius: 3%;
     box-shadow: hsla(0, 0%, 0%, .8) 7px 7px 60px;
     font-family: Sedan;
     Text-align: Center;
   }
   
   img {
     width: auto;
     height: 120px;
     border-radius: 25%;
     margin-top: -60px;
   }
   
   div.content {
     border-top: 1px solid hsla(0, 0%, 30%, .8);
     padding: 10% 3%;
     margin-top: 3%;
     font-size: 18xp;
     color: white;
   }
   
   div.name-headline, p.about {
     margin-bottom: 3%;
     margin-top: 2%;
   }
   
   div.top, div.links {
     width: 90%;
     margin: 0 auto;
     color: white;
   }
   
   ul {
     list-style-type: none;
   }
   
   li {
     display: inline;
     filter: grayscale(80%);
   }
   img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
   }
   
   .fa-location-dot:hover {
    transform: scale(1.3);
   }
   
   li:hover {
    filter: grayscale(0%);
   }
   
   i.fa-brands fa-square-twitter:hover {
    transform: scale(1.3);
   }
   
   i.fa-brands fa-tiktok:hover {
    transform: scale(1.3);
   }
   
   i.fa-brands fa-instagram:hover {
    transform: scale(1.3);
   }